@import "tailwindcss";

/* use for picking gradients https://cssgradient.io/ */

.custom {
  @media (width <= 40rem /* 640px */) {
    display: none;
  }
}

.home-bg {
  background-image: url("Home.jpg");
  background-size: cover;
  background-position: center;
  height: 200vh;
  width: 100%;
}
